.container {
  max-width: 100%;
  padding: 0;
  background-color: #f0f0f0;
}
.App section {
  margin: 0 auto;
  max-width: 60%;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
footer {
  background-color: black;
  margin-top: 45px;
  padding: 65px 0 45px 0;
}

footer h5 {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
footer p {
  max-width: 80%;
}
.footer-text {
  font-size: 12px;
  color: #9a9a9a;
}
a {
  color: #47bbbb;
  text-decoration: none;
}
a:hover {
  color: white;
}
.fa-brands:hover {
  color: #47bbbb;
}
.footer-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}
.fa-brands {
  color: #9a9a9a;
  padding: 0 5px;
}
