header {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("./book-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 180px 0;
}
.Dictionary input {
  color: #333;
}
h2 {
  font-size: 24px;
  margin: 20px 0;
}

.Dictionary form .row {
  max-width: 30%;
  margin: 0 auto;
}

.col-9 {
  margin: 0 -12px 0 6px;
}

.form-control,
.btn {
  border-radius: 4px;
}
.btn {
  background-color: #47bbbb;
  border: none;
  padding: 7px 20px;
}
.btn:hover {
  background-color: #41adad;
}
