.row {
  max-width: 30%;
  margin: 0 auto;
}

.col-9 {
  margin: 0 -12px 0 6px;
}

.form-control,
.btn {
  border-radius: 4px;
}
.btn {
  background-color: #47bbbb;
  border: none;
  padding: 6px 20px;
}
.btn:hover {
  background-color: #41adad;
}
